<div>
  <mat-toolbar color="primary" style="justify-content: center">
    <span>
      <img width="25px" alt="Angular Logo" src="assets/img/logo-trinity.png"/>
    </span>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <span style='font-size:small;'>
      Copyright &#169; 2021 TRINITY. All rights reserved. ( Prasad Madusanka | +94779001013 )
    </span>

    <span>&nbsp;&nbsp;&nbsp;</span>

    <span>
      <img width="25px" alt="Angular Logo" src="assets/img/logo-trinity.png"/>
    </span>
  </mat-toolbar>
</div>
