<div class="grid-wrapper" id="inventory-grid-div">
  <ag-grid-angular
    id="inventoryGrid"
    class="ag-theme-alpine"
    style="width: 100%; height: 600px;"
    [modules]="modules"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [pagination]="true"
    [paginationPageSize]="10"
    (selectionChanged)="onSelectionChanged($event)"
    (firstDataRendered)="onFirstDataRendered($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
